### Reading the Dataset

In [9]:
import os

os.makedirs("data", exist_ok=True)
data_file = "data/house_tiny.csv"

with open(data_file, "w") as f:
    f.write('''
        NumRooms,RoofType,Price
        NA,NA,127500
        2,NA,106000
        4,Slate,178100
        NA,NA,140000
    ''')

In [10]:
import pandas

data = pandas.read_csv(data_file)
print(data)

          NumRooms RoofType   Price
0               NA      NaN  127500
1                2      NaN  106000
2                4    Slate  178100
3               NA      NaN  140000